%tr{"data-link" => organization_service_service_version_path(service.organization.name, service.name, service.service_versions.last.version_number)}
  %td= service.created_at.strftime("%d/%m/%Y")
  %td= service.name
  %td
    %span{ class: css_class_for_status(service.service_versions.last.status)+' full' }
      = 'R' + service.service_versions.last.version_number.to_s
  %td= service.service_versions.last.user.name
  %td
    %span{ class: css_class_for_status(service.service_versions.last.status) }
      = t(:proposed)
