%p#notice
%h1 Servicios
%table
  %thead
    %tr
      %th Nombre
      %th Organizacion
      %th{:colspan => "3"}
  %tbody
    - @services.each do |s|
      %tr
        %td= s.name
        %td= @organizations.find(s.organization_id).name
        %td= link_to 'Editar', edit_service_path(s)
        %td= link_to 'Versiones', service_service_versions_path(s)
%br
  = link_to 'Nuevo Servicio', new_service_path