.title-panel-pages
  .container
    .row
      .col-md-12
        %h1
          Servicios
          = @organization.name
    .row
      .col-md-12
        %ul.nav.nav-tabs{:role => "tablist"}
          %li{:role => "presentation", :class => "tab-to-new"}
            =link_to new_organization_service_path do
              %i.material-icons
                file_upload
              %span=t(:create_service)

.content-pages.content-tabs
  .container
    .tab-content
      #services.tab-pane.active{:role => "tabpanel"}
        .row
          .col-md-12.head-title-table
            %h2=t(:service_directory)
            .search-table
              %input.search-filter{:type => 'text', :placeholder => t(:name_search), data: {target: '#services_table'}}
              %button.search
                %i.material-icons
                  search
        .row
          .col-md-12
            %table#services_table
              %colgroup
                %col{:width => "15%"}
                %col
                %col{:width => "10%"}
                %col{:width => "20%"}
                %col{:width => "10%"}
              %thead
                %tr
                  %th= t(:dateString)
                  %th= t(:service_name)
                  %th= ServiceVersion.human_attribute_name(:version_number)
                  %th= t(:author)
                  %th= t(:state)
              %tbody
                = render partial: "service", collection: @services
