-if user_signed_in? && current_user.can_create_schemas?
  %h2= t(:services_pending_approval)
  - if @pending_services_version.nil?
    = t(:no_services_pending_approval)
  - else
    %table
      %thead
        %tr
          %th= Service.human_attribute_name(:name)
          %th= Organization.model_name.human
          %th{:colspan => "3"}
      %tbody
        - @pending_services_version.each do |s|
          %tr
            %td= s.service.name
            %td= s.service.organization.name
            %td= link_to 'Revisar', [s.service.organization, s.service, s]
