.content-pages.container-fluid
  .container
    .row
      .col-md-12.head-title-table
        .search-table
          %input.search-filter{:type => 'text', :placeholder => t(:name_search), data: {target: '#data_directories_index_table'}}
          %button.search
            %i.material-icons
              search
        %table.table#data_directories_index_table
          %thead
            %tr
              %th
                = t(:category)
              %th
                = t(:schemas)
              %th
                = t(:services)
          %tbody
            - DataCategory.all.each do |cat|
              %tr
                %td
                  = cat.name
                %td
                  = cat.schemas.pluck(:humanized_name).join(' ')
                %td
                  = cat.services.pluck(:humanized_name).join(' ')
