- if !user_signed_in?
  .alert.info
    .container
      %p
        #{t(:to_upload_a_service_please)}
        = link_to t(:identify_with_clave_unica), user_clave_unica_omniauth_authorize_path
- else
  =form_for([@organization, @service, @service_version]) do |f|
    - if @service_version.errors.any?
      .container-fluid.no-gutter{:class => "alert warning alert-dismissable fade in", :"data-alert" => "alert"}
        .row
          .container
            %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
            %p= t(:cant_save_service_version_error, count: @service_version.errors.count)
            %ul
              - @service_version.errors.full_messages.each do |message|
                %li= message
    .title-panel-pages
      .container
        .row
          .col-md-12
            %h1= @organization.name
    .container-fluid.new-service-container
      .container
        .row
          .col-md-6
            %h2= t(:new_version_for, name: @service.name)
            %h3= t(:enter_new_service_file)
            .input-group.box-input-file
              .field
                %input#input-file.form-control{:readonly => 'readonly', :type => 'text'}
              %label#label-file.input-group-btn
                %span#select-file.btn= t(:choose_file)
                = f.file_field :spec_file, :style => 'display: none;', readonly: 'readonly'
            %span#remove-file
              %i.material-icons close
              %span=t(:remove_file)
        .row
          .col-md-12
            .text-right
              = f.submit t(:upload_new_version), class: 'btn btn-primary btn-lg'
          %br
