.institution-detail
  .container
    .col-md-6.no-gutter
      %h2=@organization.name
    .col-md-6.no-gutter
      = select_tag "Otros servicios de esta institución", options_from_collection_for_select(@organization.services, "id", "name"), class: "form-control input-lg"

- if user_signed_in? && current_user.is_service_admin? && @service_version.proposed?
  .container-fluid.panel-error.alert.warning
    .container
      .row
        .col-md-12
          %h1= display_service_alert_msg(@service_version.status)['title']
          .actions
            = button_to t(:approve), state_organization_service_service_version_path(state: 'current'), method: :put, class: "btn btn-success"
            %button.btn.btn-danger{"data-target" => "#modalServiceRejected", "data-toggle" => "modal", :type => "button"}
              =t(:reject)
- elsif @service_version.rejected?
  .container-fluid.panel-error
    .container
      .row
        .col-md-12
          %h1= display_service_alert_msg(@service_version.status)['title']
          %p= display_service_alert_msg(@service_version.status)['msg']

.container-fluid.instance-panel-services
  .container
    .row
      .col-md-8
        .title
          %h1
            = @service_version.service.name
            ="R" + @service_version.version_number.to_s
          %span{class: css_class_for_status(@service_version.status)}
            = t(@service_version.status)
        %br
        .description
          = t(:description) + ': '
          - if @service_version.description.present?
            = markdown.render(@service_version.description).html_safe
          -else
            = t(:description_not_found)
      .col-md-4.text-right
        =link_to @service_version.has_previous_version? ? organization_service_service_version_path(@organization, @service, @service_version.previous_version) : '' , class: "detail-action #{'deactivate' unless @service_version.has_previous_version? }" do
          %i.material-icons undo
          = t(:previous_version)
        %br
        =link_to @service_version.has_next_version? ? organization_service_service_version_path(@organization, @service, @service_version.next_version) : '' , class: "detail-action #{'deactivate' unless @service_version.has_next_version? }" do
          %i.material-icons redo
          = t(:next_version)
        %br
        =link_to organization_service_service_versions_path, class: "detail-action" do
          %i.material-icons list
          = t(:history)
        %br

    .row
      .col-md-12.principal-actions
        %a.btn.btn-primary Solicitar Convenio
        =link_to t(:new_version), new_organization_service_service_version_path, class: "btn btn-primary"
        %a.btn.btn-static Ver OAS
        %button.btn.btn-static{"data-target" => "#modalDownloadCode", "data-toggle" => "modal", :type => "button"}
          =t(:generate_code)
        %p.url-canonica
          %span
            %strong
              = t(:base_url) + ': '
            %a{href: organization_service_service_version_url(@service, @service_version, format: :json), target: "_blank"}
              = organization_service_service_version_url(@service, @service_version, format: :json)

.container-fluid
  .row
    .col-md-12.wrapper-operation.no-gutter
      .container-verbs.in
        .header
          %i#collapseVerbs.material-icons keyboard_arrow_right
          %h3.col-title
            = t(:operations)
        %ul.list-operations
          - @service_version.operations.each do |(verb, path), operation|
            %li
              %a{href: operation_organization_service_service_version_path(verb: verb, path: path, anchor: 'operation-doc')}
                %span.full.btn.btn-status{class: css_class_for_http_verb(verb)}= verb
                %span.path= path
      .container-service
        #operation-doc.operation.in
          %h2
            .span.btn.btn-status.full{class: css_class_for_http_verb(@verb)}= @verb
            = @path
          .description-summary
            - if @operation['summary']
              %p= @operation['summary']
            - if @operation['description']
              %div= markdown.render(@operation['description']).html_safe
          %button.btn.btn-success.collapseConsole
            =t(:test_service)
          %h2.subtitle= t(:parameters)
          .schema-panel-set.detail
            - if @service_version.has_parameters?(@verb, @path)
              - @service_version.parameter_locations(@verb, @path).each do |location|
                %h3= parameter_section_name(location)
                = service_operation_parameters_markup(@service_version, @verb, @path, location)
            - else
              %p= t(:operation_without_parameters)
          %h2.subtitle= t(:responses)
          .schema-panel-set.detail
            = service_operation_responses_markup(@service_version, @verb, @path)
        .console
          .inner-console
            .title
              %i#fullConsole.material-icons.pull-left zoom_out_map
              %i#closeConsole.material-icons.pull-right clear
            .schema-panel-set
              - if @service_version.has_parameters?(@verb, @path)
                - @service_version.parameter_locations(@verb, @path).each do |location|
                  %h3= parameter_section_name(location)
                  = service_operation_parameters_markup(@service_version, @verb, @path, location)
              - else
                %p= t(:operation_without_parameters)


#modalDownloadCode.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title
          =t(:generate_code)
      .modal-body
        .row
          .col-md-6
            %h4
              =t(:download_server)
            %input{type: "checkbox", value: "PHP"} PHP
            %input{type: "checkbox", value: "JAVA"} JAVA
            %input{type: "checkbox", value: "#C"} #C
          .col-md-6
            %h4
              =t(:download_client)
            %input{type: "checkbox", value: "PHP"} PHP
            %input{type: "checkbox", value: "JAVA"} JAVA
            %input{type: "checkbox", value: "#C"} #C
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
          =t(:cancel)
        =link_to t(:generate_code), source_code_organization_service_service_version_path, class: "btn btn-static"

- if @service_version.proposed?
  #modalServiceRejected.modal.fade{:role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title
            =t(:reject_service)
        = form_tag state_organization_service_service_version_path(state: 'rejected'), method: :put
        .modal-body
          %h3
            =t(:rejection_reason)
          %textarea
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
            =t(:cancel)
          %button.btn.btn-danger{:type => "submit"}
            = t(:reject)

