.clearfix
.container
  .row
    .col-md-12.container-schema-detail
      %h1
        = @service_version.service.name
        %a.btn.btn-status.blue
          ="R" + @service_version.version_number.to_s
      %p
        %strong
          %a.btn.btn-status.blue
            = @service_version.status.upcase
          = t(:description) + ': '
          - if @service_version.description.present?
            = markdown.render(@service_version.description).html_safe
          -else
            = t(:description_not_found)
      %p.url-canonica
        %span
          %strong
            = t(:base_url) + ': '
          %a{href: organization_service_service_version_url(@service, @service_version, format: :json), target: "_blank"}
            = organization_service_service_version_url(@service, @service_version, format: :json)
      .history-version
        - if user_signed_in? && current_user.organizations.exists?(Organization.where(dipres_id: 'AB01')) && @service_version.proposed?
          = button_to t(:approve), state_organization_service_service_version_path(state: 'current'), method: :put
          = button_to t(:reject), state_organization_service_service_version_path(state: 'rejected'), method: :put

        = link_to t(:new_version), new_organization_service_service_version_path
        =link_to t(:previous_version)
        =link_to t(:next_version)
        =link_to t(:generate_code), source_code_organization_service_service_version_path
        =link_to t(:history), organization_service_service_versions_path
.clearfix
.container-fluid
  .row
    .col-md-12.wrapper-operation.no-gutter
      .container-verbs.in
        %button#collapseVerbs.btn.btn-primary.btn-sm{:type => "button"}
          %i.glyphicon.glyphicon-plus
        %h3.col-title
          = t(:operations)
        %ul.list-operations
          - @service_version.operations.each do |(verb, path), operation|
            %li
              %a{href: operation_organization_service_service_version_path(verb: verb, path: path, anchor: 'operation-doc')}
                %span.full.btn.btn-status{class: css_class_for_http_verb(verb)}= verb
                %span.path= path
      .container-service
        #operation-doc.operation.in
          %h2
            .span.btn.btn-status.full{class: css_class_for_http_verb(@verb)}= @verb
            = @path
          - if @operation['summary']
            %h3= @operation['summary']
          - if @operation['description']
            %p= markdown.render(@operation['description']).html_safe
          %button.btn.btn-primary.btn-sm.collapseConsole{:type => "button"}
            %i.glyphicon.glyphicon-plus Probar
          = service_operation_markup(@service_version, @verb, @path)
        .console
          .inner-console
            %button#fullConsole.btn.btn-primary.btn-sm{:type => "button"}
              %i.glyphicon.glyphicon-plus FullScreen
            %button#closeConsole.btn.btn-primary.btn-sm{:type => "button"}
              %i.glyphicon.glyphicon-plus Cerrar
            = service_operation_markup(@service_version, @verb, @path)
