.institution-detail
  .container
    .col-md-6.no-gutter
      %h2=@organization.name
    .col-md-6.no-gutter
      = select_tag "Otros servicios de esta institución", options_from_collection_for_select(@organization.services, "id", "name"), class: "form-control input-lg"
.container-fluid.instance-panel-services
  .container
    .row
      .col-md-8
        .title
          %h1
            = @service_version.service.name
            ="R" + @service_version.version_number.to_s
          %span.label-blue
            = @service_version.status.upcase
        %br
        .description
          = t(:description) + ': '
          - if @service_version.description.present?
            = markdown.render(@service_version.description).html_safe
          -else
            = t(:description_not_found)
      .col-md-4.text-right
        =link_to @service_version.has_previous_version? ? organization_service_service_version_path(@organization, @service, @service_version.previous_version) : '' , class: "detail-action #{'deactivate' unless @service_version.has_previous_version? }" do
          %i.material-icons undo
          = t(:previous_version)
        %br
        =link_to @service_version.has_next_version? ? organization_service_service_version_path(@organization, @service, @service_version.next_version) : '' , class: "detail-action #{'deactivate' unless @service_version.has_next_version? }" do
          %i.material-icons redo
          = t(:next_version)
        %br
        =link_to organization_service_service_versions_path, class: "detail-action" do
          %i.material-icons list
          = t(:history)
        %br

    .row
      .col-md-12.principal-actions
        %a.btn.btn-primary Solicitar Convenio
        =link_to t(:new_version), new_organization_service_service_version_path, class: "btn btn-primary"
        %a.btn.btn-static Ver OAS
        =link_to t(:generate_code), source_code_organization_service_service_version_path, class: "btn btn-static"
        %p.url-canonica
          %span
            %strong
              = t(:base_url) + ': '
            %a{href: organization_service_service_version_url(@service, @service_version, format: :json), target: "_blank"}
              = organization_service_service_version_url(@service, @service_version, format: :json)

      - if user_signed_in? && current_user.organizations.exists?(Organization.where(dipres_id: 'AB01')) && @service_version.proposed?
        = button_to t(:approve), state_organization_service_service_version_path(state: 'current'), method: :put
        = button_to t(:reject), state_organization_service_service_version_path(state: 'rejected'), method: :put

.container-fluid
  .row
    .col-md-12.wrapper-operation.no-gutter
      .container-verbs.in
        .header
          %i#collapseVerbs.material-icons keyboard_arrow_right
          %h3.col-title
            = t(:operations)
        %ul.list-operations
          - @service_version.operations.each do |(verb, path), operation|
            %li
              %a{href: operation_organization_service_service_version_path(verb: verb, path: path, anchor: 'operation-doc')}
                %span.full.btn.btn-status{class: css_class_for_http_verb(verb)}= verb
                %span.path= path
      .container-service
        #operation-doc.operation.in
          %h2
            .span.btn.btn-status.full{class: css_class_for_http_verb(@verb)}= @verb
            = @path
          .description-summary
            - if @operation['summary']
              %p= @operation['summary']
            - if @operation['description']
              %div= markdown.render(@operation['description']).html_safe
          %button.btn.btn-success.collapseConsole Probar
          .parameters
            %h2.subtitle= t(:parameters)
            .schema-panel-set.detail
              - if @service_version.has_parameters?(@verb, @path)
                - @service_version.parameter_locations(@verb, @path).each do |location|
                  %h3= parameter_section_name(location)
                  = service_operation_parameters_markup(@service_version, @verb, @path, location)
              - else
                %p= t(:operation_without_parameters)
          .responses
            %h2.subtitle= t(:responses)
            .schema-panel-set.detail
              = service_operation_responses_markup(@service_version, @verb, @path)
        .console
          .inner-console
            .title
              %i#fullConsole.material-icons.pull-left zoom_out_map
              %i#closeConsole.material-icons.pull-right clear
            .schema-panel-set
              - if @service_version.has_parameters?(@verb, @path)
                - @service_version.parameter_locations(@verb, @path).each do |location|
                  %h3= parameter_section_name(location)
                  = service_operation_parameters_markup(@service_version, @verb, @path, location)
              - else
                %p= t(:operation_without_parameters)

