%p#notice
%h1= @service_version.service.name + " V. " + @service_version.version_number.to_s
%h2= @service_version.status
.field
= @service_version.spec
.actions
= link_to 'New Version', new_service_service_version_path
= link_to 'Index', service_service_versions_path
