%p#notice
%h1= @service_version.service.name + " V. " + @service_version.version_number.to_s
%h2= @service_version.status
.field
= @service_version.spec
.actions
= link_to 'New Version', new_service_service_version_path
= link_to 'Index', organization_service_service_versions_path(@organization)
- if user_signed_in? && current_user.organizations.exists?(Organization.where(initials: "SEGPRES")) && @service_version.proposed?
  = button_to 'Aprobar', state_service_service_version_path(state: 'current'), method: :put
  = button_to 'Rechazar', state_service_service_version_path(state: 'rejected'), method: :put
