- if !user_signed_in?
  .alert.info
    .container
      %p
        #{t(:identify_with_clave_unica)}
        = link_to t(:identify_with_clave_unica), user_clave_unica_omniauth_authorize_path
- else
  .content-pages.container-fluid
    .container
      .row
        .col-md-12.head-title-table
          .search-table
            %input.search-filter{:type => 'text', :placeholder => t(:name_search), data: {target: '#data_categories_index_table'}}
            %button.search
              %i.material-icons
                search
          %table.table#data_categories_index_table
            %thead
              %tr
                %th
                  Nombre
                %th
                  Acciones
            %tbody
              - DataCategory.all.each do |cat|
                %tr
                  %td
                    = cat.name
                  %td
                    = link_to 'Editar', edit_data_category_path(cat.id), method: :get                    
                    %a{"data-target" => ".data-category-#{cat.id}", "data-toggle" => "modal", :type => "button"}
                      = t(:destroy)
                    %div{class: "data-category-#{cat.id} modal fade", :role => "dialog", :tabindex => "-1"}
                      .modal-dialog
                        .modal-content
                          .modal-header
                            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                              %span{"aria-hidden" => "true"} ×
                            %h1{style: 'text-align: center'}
                              = t(:delete_data_category)
                          = form_for cat, :url => data_category_path(cat.id), method: :delete do |f|
                            .modal-body
                              .col-md-12
                                %h2{style: 'text-align: center'}
                                  = t(:really_delete_category?)
                              %span.row
                                .col-md-8.col-md-offset-4
                                  %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
                                    = t(:cancel)
                                  %button.btn.btn-danger{:type => "submit"}
                                    = t(:destroy)
      = button_to t(:create_data_category), new_data_category_path, method: :get, class: "btn btn-action-blue btn-lg gradient"
