.content-pages.container-fluid
  .container
    .row
      .col-md-12.head-title-table
        %h2=t(:notifications)
        .search-table
          %input.search-filter{:type => 'text', :placeholder => t(:name_search), data: {target: '#notifications-table'}}
          %button.search
            %i.material-icons
              search
    .row
      .col-md-12
        %table#notifications-table
          %colgroup
            %col{:width => "10%"}
            %col{:width => "82%"}
            %col{:width => "8%"}
          %thead
            %th= t(:dateString)
            %th= t(:message)
            %th= t(:state)
          %tbody
            - @notifications.each do |notification|
              %tr{"data-link" => user_notification_path(current_user, notification), :class => "#{'fila-not-readed' if !notification.read }" }
                %td
                  = notification.created_at.strftime("%d/%m/%Y")
                %td
                  = notification.message
                %td
                  - if !notification.read
                    %span{:class => 'label-not-readed'}
                      %i.material-icons
                        email
                      %p=t(:not_readed)
                  - else
                    %span{:class => 'label-readed'}
                      %i.material-icons
                        check
                      %p= t(:readed)
