%p
  =t(:applicant)+':'
  %strong= @consumer_organization.name
%p
  =t(:provider)+':'
  %strong= @provider_organization.name
%p
  =t(:application_date)+':'
  %strong= @agreement.created_at.strftime("%d/%m/%Y")
%br
%p
  %strong= t(:involved_services)
%ul
  - @agreement.services.each do |service|
    = content_tag(:li, service.name)
