.box.next-step
  .header-box
    %span= t(:agreement_state)
    %span{class: css_class_for_agreement_status(@agreement_revision.state)}
      = t(@agreement_revision.state)
  - unless @agreement.state == 'signed' || @agreement.next_step_responsables.nil?
    .body-box
      .event
        %p
          %strong= t(:next_step)
          %br= t(@agreement.next_step + '_log')
        - @agreement.next_step_responsables.each do |responsable|
          %p
            = "Responsable: " + responsable[:name]
            %br
            Contacto:
            - responsable[:email].each do |email|
              = email
