.show-agreement.main-container
  .container-fluid.main-title
    .container
      .col-md-12
        %h1= "Convenio entre #{@provider_organization.name} y #{@consumer_organization.name}"
        %a{:href => 'index', :title => 'Cancelar'}
          %i.material-icons
            close

  .container-fluid.show-agreement-content
    .container
      .row
        .col-md-9
          .description
            = render partial: "description_agreement"
            %br
            %p
              %strong= t(:purpose)+':'
              = @agreement_revision.purpose
          .visor
            .preview
              %embed{:src => @agreement_revision.file, :width => '100%', :height => '493'}

          .actions
            %input.btn.btn-default{:type => 'button', :value => 'Editar', "data-link" => new_organization_agreement_agreement_revision_path}
            %input.btn.btn-primary{:type => 'button', :value => 'Enviar Borrador'}
            = link_to "Descargar PDF", @agreement_revision.file, download: ''

        .col-md-3
          = render partial: "next_step"
          = render partial: "history"
