%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "CONTENT-TYPE"}/
    %title
    :css
      <!--
        @page { margin-left: 1in; margin-right: 1in; margin-top: 0.5in; margin-bottom: 1in }
        P { margin-bottom: 0.08in; direction: ltr; widows: 2; orphans: 2 }
      -->
  %body{:bgcolor => "#ffffff", :dir => "LTR", :lang => "es-CL"}
    %div{:type => "HEADER"}
      %p{:style => "margin-bottom: 0.46in"}
        %br/
    %p{:align => "LEFT", :style => "margin-right: 0.1in; margin-top: 0.08in; line-height: 100%; page-break-inside: avoid; widows: 0; orphans: 0; page-break-after: avoid"}
      %br/
      %br/
    %p{:align => "CENTER", :style => "margin-right: 0.1in; margin-top: 0.08in; line-height: 100%; page-break-inside: avoid; widows: 0; orphans: 0; page-break-after: avoid"}
      %font{:size => "6", :style => "font-size: 26pt"}
        %font{:face => "Verdana, serif"}
          %font{:size => "2"}
            %b
              CONVENIO
              PARA INTEROPERAR DATOS ELECTRÓNICAMENTE
    %p{:align => "CENTER", :style => "margin-right: 0.1in; margin-top: 0.08in; line-height: 100%; page-break-inside: avoid; widows: 0; orphans: 0; page-break-after: avoid"}
      %font{:size => "6", :style => "font-size: 26pt"}
        %font{:face => "Verdana, serif"}
          %font{:size => "2"}
            %b ENTRE
    %p{:align => "CENTER", :style => "margin-right: 0.1in; margin-top: 0.08in; line-height: 100%"}
      %span{:style => "font-variant: small-caps"}
        %font{:face => "Verdana, serif"}
          %font{:size => "2"}
            %b
              %span= @agreement.service_consumer_organization.name.upcase
    %p{:align => "CENTER", :style => "margin-right: 0.1in; margin-top: 0.08in; line-height: 100%; page-break-inside: avoid; widows: 0; orphans: 0; page-break-after: avoid"}
      %font{:size => "6", :style => "font-size: 26pt"}
        %font{:face => "Verdana, serif"}
          %font{:size => "2"}
            %b
              Y EL
    %p{:align => "CENTER", :style => "margin-right: 0.1in; margin-top: 0.08in; line-height: 100%"}
      %span{:style => "font-variant: small-caps"}
        %font{:face => "Verdana, serif"}
          %font{:size => "2"}
            %b
              %span= @agreement.service_provider_organization.name.upcase
    %p{:align => "JUSTIFY", :style => "margin-right: 0.1in; margin-top: 0.08in; line-height: 100%"}
      %br/
      %br/
      %br/
      %br/
    %p{:align => "JUSTIFY", :style => "margin-right: 0.1in; margin-top: 0.08in; line-height: 100%"}
      %font{:face => "Verdana, serif"}
        %font{:size => "2"}
          = "En Santiago de Chile, a #{l(@agreement.last_revision.created_at, format: '%d de %B de %Y')}"
          = ", entre #{@agreement.service_consumer_organization.name}, domiciliado en estos "
          = "efectos en #{@agreement.service_consumer_organization.address}, y  #{@agreement.service_consumer_organization.name}, "
          = "domiciliado para estos efectos en #{@agreement.service_consumer_organization.address}, se ha convenido el siguiente convenio de interoperabilidad:"
    %p{:align => "JUSTIFY", :style => "margin-right: 0.1in; margin-top: 0.08in; line-height: 100%"}
      %br/
      %br/
    %p{:align => "JUSTIFY", :style => "margin-right: 0.1in; margin-top: 0.08in; line-height: 100%"}
      %font{:face => "Verdana, serif"}
        %font{:size => "2"}
          %b PRIMERO: OBJETO
    %p{:align => "JUSTIFY", :style => "margin-right: 0.1in; margin-top: 0.08in; line-height: 100%"}
      %br/
      %br/
    %p{:align => "JUSTIFY", :style => "margin-right: 0.1in; margin-top: 0.08in; line-height: 100%"}
      %font{:face => "Verdana, serif"}
        %font{:size => "2"}
          El objeto del presente
          convenio es fomentar la transparencia, eficiencia y simplicidad de
          los actos y procedimientos administrativos, facilitando el
          cumplimiento de la Ley N° 19.880, que Establece las Bases de los
          Procedimientos Administrativos que Rigen los Actos de los Órganos de
          la Administración del Estado, a través del intercambio de
          información entre Instituciones Públicas, en la medida que actúen
          dentro de sus competencias, disminuyendo o eliminando los
          requerimientos de información que se le hacen a los ciudadanos en la
          medida que ésta ya se encuentre disponible en el sector público.
    %p{:align => "JUSTIFY", :lang => "es-ES", :style => "margin-right: 0.1in; margin-top: 0.08in; line-height: 100%"}
      %br/
      %br/
    %p{:style => "margin-bottom: 0in"}
      %font{:face => "Verdana, serif"}
        %font{:size => "2"}
          %b
            SEGUNDO:
            = "SERVICIOS REQUERIDOS POR LA INSTITUCION #{@agreement.service_consumer_organization.name.upcase} (Consumidor)."
    %p{:style => "margin-bottom: 0in"}
      %br/
    %ol
      - @agreement.services.each do |service|
        %li
          %p{:style => "margin-bottom: 0in"}
            %font{:face => "Verdana, serif"}
            %font{:size => "2"}
              %b
                =service.name
    %p{:align => "JUSTIFY", :style => "margin-right: 0.1in; margin-top: 0.08in; line-height: 100%"}
      %br/
      %br/
    %p{:align => "JUSTIFY", :style => "margin-right: 0.1in; margin-top: 0.08in; line-height: 100%"}
      %font{:face => "Verdana, serif"}
        %font{:size => "2"}
          %b
            = "TERCERO: COMPETENCIA DE LA INSTITUCION #{@agreement.service_consumer_organization.name.upcase} PARA SOLICITAR EL SERVICIO A INTEROPERAR"
    %p{:align => "JUSTIFY", :style => "margin-top: 0.08in; line-height: 100%; widows: 0; orphans: 0"}
      %br/
      %br/
    %p{:align => "JUSTIFY", :style => "margin-right: 0.1in; margin-top: 0.08in; line-height: 100%"}
      %font{:face => "Verdana, serif"}
        %font{:size => "2"}
          %b
            CUARTO: OBLIGACIONES DE
            LAS INSTITUCIONES
    %ol{:type => "i"}
      %li
        %p{:align => "JUSTIFY", :style => "margin-bottom: 0in; line-height: 100%"}
          %font{:face => "Verdana, serif"}
            %font{:size => "2"}
              = "La Institución #{@agreement.service_consumer_organization.name} debe contar con la debida competencia y atribuciones legales para acceder y tratar la información consultada."
      %li
        %p{:align => "JUSTIFY", :style => "margin-bottom: 0in; line-height: 100%"}
          %font{:face => "Verdana, serif"}
            %font{:size => "2"}
              Ambas instituciones deben mantener las plataformas para intercambio de información con niveles de seguridad acorde a estándares internacionales y con las normas particulares que se dicten sobre seguridad de información para los órganos del Estado.
      %li
        %p{:align => "JUSTIFY", :style => "margin-bottom: 0in; line-height: 100%"}
          %font{:face => "Verdana, serif"}
            %font{:size => "2"}
              Ambas instituciones deben dar cumplimiento a los estándares de
              interoperabilidad de documentos electrónicos, fijados por la
              normativa técnica que se dicte al efecto por el Ministerio
              Secretaría General de la Presidencia.
      %li
        %p{:align => "JUSTIFY", :style => "margin-bottom: 0in; line-height: 100%"}
          %font{:face => "Verdana, serif"}
            %font{:size => "2"}
              Utilizar la información proporcionada sólo para los fines propios que fue entregada
      %li
        %p{:align => "JUSTIFY", :style => "margin-bottom: 0in; line-height: 100%"}
          %font{:face => "Verdana, serif"}
            %font{:size => "2"}
              Velar por la confidencialidad de la información, limitando
              su divulgación a sólo aquellos funcionarios, que estrictamente
              tengan la obligación de conocerla evitando el acceso a terceros no autorizados
      %li
        %p{:align => "JUSTIFY", :style => "margin-bottom: 0in; line-height: 100%"}
          %font{:face => "Verdana, serif"}
            %font{:size => "2"}
              Cumplir y a hacer cumplir a los funcionarios de la institución con lo establecido en la Ley Nº 19.628, sobre protección de la vida privada.
    %p{:align => "JUSTIFY", :lang => "es-ES", :style => "margin-right: 0.1in; margin-top: 0.08in; line-height: 100%"}
      %br/
      %br/
    %p{:align => "JUSTIFY", :style => "margin-right: 0.1in; margin-top: 0.08in; line-height: 100%"}
      %font{:face => "Verdana, serif"}
        %font{:size => "2"}
          %b
            %span
              QUINTO: COSTOS
    %p{:align => "JUSTIFY", :lang => "es-ES", :style => "margin-right: 0.1in; margin-top: 0.08in; line-height: 100%"}
      %br/
      %br/
    %p{:align => "JUSTIFY", :style => "margin-right: 0.1in; margin-top: 0.08in; line-height: 100%"}
      %font{:face => "Verdana, serif"}
        %font{:size => "2"}
          Los costos en que incurra cada una
          de las partes, que emanen o se deriven de la implementación de
          procedimientos o de operación, o de cualquier otra causa vinculada
          al presente convenio serán de su exclusivo cargo y responsabilidad.
    %p{:align => "JUSTIFY", :style => "margin-right: 0.1in; margin-top: 0.08in; line-height: 100%"}
      %a{:name => "h.30j0zll"}
      %br/
      %br/
    %p{:align => "JUSTIFY", :style => "margin-top: 0.08in; line-height: 100%; widows: 0; orphans: 0"}
      %font{:face => "Verdana, serif"}
        %font{:size => "2"}
          %b
            SEXTO: VALIDEZ Y
            VIGENCIA.
    %p{:align => "JUSTIFY", :style => "margin-top: 0.08in; line-height: 100%; widows: 0; orphans: 0"}
      %br/
      %br/
    %p{:align => "JUSTIFY", :style => "margin-top: 0.08in; line-height: 100%; widows: 0; orphans: 0"}
      %font{:face => "Verdana, serif"}
        %font{:size => "2"}
          El presente convenio tendrá
          plena validez y vigencia desde la fecha en que se encuentre
          totalmente tramitado el último acto administrativo que lo apruebe y
          se extenderá por el plazo de un año, renovándose automáticamente
          por plazos consecutivos de un año, si las partes no manifiestan su
          voluntad por escrito de ponerle término anticipado, a lo menos, con
          30 días corridos de anticipación a su fecha de término.
    %p{:align => "JUSTIFY", :style => "margin-right: 0.1in; margin-top: 0.08in; line-height: 100%"}
      %br/
      %br/
    %p{:align => "JUSTIFY", :style => "margin-right: 0.1in; margin-top: 0.08in; line-height: 100%"}
      %a{:name => "_GoBack"}
      %font{:face => "Verdana, serif"}
        %font{:size => "2"}
          %b SÉPTIMO: PERSONERÍAS.
    %p{:align => "JUSTIFY", :style => "margin-right: 0.1in; margin-top: 0.08in; line-height: 100%"}
      %br/
      %br/
    %p{:align => "JUSTIFY", :style => "margin-bottom: 0in; line-height: 100%"}
      %font{:face => "Verdana, serif"}
        %font{:size => "2"}
          = "La personería de XXX (ej: doña Patricia Silva Meléndez) para representar a la #{@agreement.service_consumer_organization.name} consta en XXX (ej: el Decreto Supremo N° 20, de fecha 11 de marzo de 2014, del Ministerio Secretaría General de la Presidencia)."
    %p{:align => "JUSTIFY", :style => "margin-bottom: 0in; line-height: 100%"}
      %br/
    %p{:align => "JUSTIFY", :style => "margin-right: 0.1in; margin-top: 0.08in; line-height: 100%"}
      %font{:face => "Verdana, serif"}
        %font{:size => "2"}
          = "La personería de ______ para representar a la #{@agreement.service_provider_organization.name} consta en _____________."
