- services.each do |s|
  .box-service
    %h2.title{class: ('opendata' if s.public)}
      = link_to operation_organization_service_service_version_path(organization_name: s.organization.name, 
                                                                    version_number: s.last_version.version_number, 
                                                                    service_name: s.name, 
                                                                    verb: s.last_version.get_info_from_first_service("verb"), 
                                                                    path: s.last_version.get_info_from_first_service("path"), 
                                                                    anchor: 'operation') do
        = truncate(s.name, :length => 50)
    .body
      - if s.description.blank?
        = t(:no_description)
      - else
        = truncate(s.description, :length => 70)
      = link_to s.organization.name, search_services_path(text_search: s.organization.name), class: 'organization'
