%tr{data: {name: pending.name, link: organization_service_service_version_path(pending.service.organization.name, pending.service.name, pending.version_number)}}
  %td= pending.created_at.strftime("%d/%m/%Y")
  %td= pending.name
  %td= pending.organization.name
  %td
    %span{ class: 'btn btn-tiny static' }
      = 'R' + pending.version_number.to_s
  %td= pending.user.name
  %td
    %span.label-blue
      = t(:proposed)
