- if user_signed_in? && current_user.is_service_admin?
  .title-panel-pages
    .container
      .row
        .col-md-12
          %h1= t(:services_pending_approval)

.content-pages.content-tabs
  .container
    .tab-content
      #services.tab-pane.active{:role => "tabpanel"}
        - if @pending_services_version.empty?
          .row
            .col-md-12.head-title-table
              %h2= t(:no_services_pending_approval)
        - else
          .row
            .col-md-12.head-title-table
              %h2= t(:new_requests_pending_approval, count: @pending_services_version.count)
              .search-table
                %input{:type => 'text', :placeholder => 'Buscar por nombre'}
                %button.search
                  %i.material-icons
                    search
          .row
            .col-md-12
              %table
                %colgroup
                  %col{:width => "10%"}
                  %col
                  %col{:width => "22%"}
                  %col{:width => "8%"}
                  %col{:width => "12%"}
                  %col{:width => "8%"}
                %thead
                  %tr
                    %th Fecha
                    %th= t(:service_name)
                    %th= t(:requesting_organization)
                    %th= t(:state)
                    %th= t(:requester)
                    %th= t(:state)
                %tbody
                  = render partial: "pending", collection: @pending_services_version
