= form_for([@schema, schema_version]) do |f|
  - if schema_version.errors.any?
    #error_explanation
      %h2
        = pluralize(schema_version.errors.count, "error")
        prohibited this schema from being saved:
      %ul
        - schema_version.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :spec_file
    = f.file_field :spec_file
  .actions
    = f.submit