.container.new-schemas-container
  %h1= @schema.name
  %h4= @schema.schema_category.name
  .row
    .col-md-12
      %table.table.schema-versions
        %thead
          %tr
            %th Versión
            %th Fecha
            %th 
        %tbody
          - @schema_versions.each do |schema_version|
            %tr
              %td= schema_version.version_number
              %td= schema_version.created_at
              %td= link_to 'Ver Esquema', [@schema,schema_version], :class => "btn btn-status primary"