.show-agreement
  .container-fluid.main-title
    .container
      .row
        .col-md-12
          %h1 Historial del Esquema
          %a{:href => 'javascript:history.back();', :title => 'Cancelar'}
            %i.material-icons
              close

.container.new-schemas-container
  .row
    .col-md-12
      %h3= @schema.name
      %h5=@schema.schema_categories.map(&:name).join(', ')
  .row
    .col-md-12
      %table.table.schema-versions
        %colgroup
          %col{:width => "6%"}
          %col{:width => "20%"}
          %col
          %col{:width => "10%"}
        %thead
          %tr
            %th= SchemaVersion.human_attribute_name(:version_number)
            %th= t(:dateString)
            %th= t(:author)
            %th
        %tbody
          - @schema_versions.each do |schema_version|
            %tr
              %td= schema_version.version_number
              %td= schema_version.created_at.strftime("%d/%m/%Y")
              %td= schema_version.user.name
              %td= link_to t(:view_schema), [@schema,schema_version], :class => "btn btn-status primary"
