%p#notice
%h1= @schema.name
%h2= @schema.schema_category.name
%table
  %thead
    %tr
      %th Fecha
      %th Version
      %th{:colspan => "3"}
  %tbody
    - @schema_versions.each do |schema_version|
      %tr
        %td= schema_version.created_at
        %td= schema_version.version_number
        %td= link_to 'Ver', [@schema,schema_version]
