- if !user_signed_in?
  .alert.info
    .container
      %p
        Para subir un esquema por favor
        = link_to 'identifíquese con su clave única', user_clave_unica_omniauth_authorize_path
- else
  = form_for([@schema, @schema_version]) do |f|
    - if @schema_version.errors.any?
      .container-fluid.no-gutter{:class => "alert warning alert-dismissable fade in", :"data-alert" => "alert"}
        .row
          .container
            %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
            %p
              No se pudo guardar la nueva versión del esquema debido a
              = pluralize(@schema_version.errors.count, "error")
              \:
            %ul
              - @schema_version.errors.full_messages.each do |message|
                %li= message
    .instance-panel
      .container
        .col-md-12{:class => "text-center"}
          .box-new-schema-file
            .box-title
              %span +
              %p Nueva Versión
            .input-group.box-input-file
              %label#label-file.input-group-btn
                %span#select-file.btn.btn-action-red.btn-lg
                  Seleccionar Archivo
                = f.file_field :spec_file, :style => 'display: none;', readonly: 'readonly'
              .field
                %input#input-file.form-control{:readonly => 'readonly', :type => 'text'}
              %span#remove-file
                %span.glyphicon.glyphicon-remove{":aria-hidden" => true}
    .container.new-schemas-container
      .row
        .col-md-12
          %h1 Nueva versión para #{@schema.name}
          .text-right
            = f.submit 'Subir Nueva Versión', class: 'btn btn-action-red btn-lg'
