
.container-fluid.instance-panel.schema-detail
  .container
    .col-md-2.col-xs-2.no-gutter.text-right
      .category-icon
        = image_tag "category-icon.svg", :class => "img-responsive"
    .col-md-10.col-xs-10.no-gutter.text-left
      .box-detail-header
        %h3 Categoria
        %h2=@schema.schema_category.name
        %p
          %strong Descripción:
          =@schema.schema_category.description
.clearfix
.container
  .row
    .col-md-2.container-schema-list.no-gutter
      %h3.col-title Esquemas:
      %h4.col-title=@schema.schema_category.name
      %ul.list-categories
        %li.active=link_to @schema.name, schema_schema_version_path(@schema, @schema.last_version)
        - @same_category_schemas.each do |schema|
          - if schema.id != @schema.id
            %li=link_to schema.name, schema_schema_version_path(schema, schema.last_version)

    .col-md-7.container-schema-detail
      %h1
        =@schema.name
        %a.btn.btn-tiny-rounded.blue
          ="V" + @schema_version.version_number.to_s
      %p
        %strong
          Descripción:
        - if @schema_version.description.present?
          = markdown.render(@schema_version.description).html_safe
        -else
          = "Descripción no disponible"
      %p.url-canonica
        %span
          %strong
            URL Canónica:
          %a{href: schema_schema_version_url(@schema, @schema_version, format: :json), target: "_blank"}
            = schema_schema_version_url(@schema, @schema_version, format: :json)
      .history-version
        - if @schema_version.has_previous_version?
          =link_to 'Versión Anterior',
            schema_schema_version_path(@schema_version.schema, @schema_version.previous_version)
        -else
          Versión Anterior
          %a
        - if @schema_version.has_next_version?
          =link_to 'Versión Siguiente',
            schema_schema_version_path(@schema_version.schema, @schema_version.next_version)
        -else
          Versión Siguiente
          %a
        %a.historic{href: schema_schema_versions_path} Historial
      %h2 Especificación
      .field
      = schema_markup(@schema_version)

    .col-md-3.container-schema-action.no-gutter
      %a.btn.btn-action-red.btn-lg{:href => schema_schema_version_url(@schema, @schema_version, format: :json), :role => "button", :target => '_blank'} Ver OAS
      - if user_signed_in? && current_user.can_create_schemas
        %a.btn.btn-action-blue.btn-lg{:href => new_schema_schema_version_path(@schema)}
          Nueva Versión
      %br
      %h3 Ejemplo
      .box-code-example
        %pre
          - if @schema_version.example.present?
            %code.json
              = preserve(JSON.pretty_generate @schema_version.example)
          - else
            Sin ejemplo.
