.container
  .row
    .col-md-2.container-schema-list.no-gutter
      %h3.col-title
        #{t(:related_schemas)}
      - @schema.schema_categories.each do |schema_category|
        %h4.col-title=schema_category.name
        %ul.list-categories
          - schema_category.schemas.each do |schema|
            %li=link_to schema.name, schema_schema_version_path(schema, schema.last_version)

    .col-md-7.container-schema-detail
      %h1
        =@schema.name
        %a.btn.btn-tiny-rounded.blue
          ="R" + @schema_version.version_number.to_s
      %p
        %strong
          =t(:description) + ': '
        - if @schema_version.description.present?
          = markdown.render(@schema_version.description).html_safe
        -else
          =t(:no_description)
      %p.url-canonica
        %span
          %strong

          %a{href: schema_schema_version_url(@schema, @schema_version, format: :json), target: "_blank"}
            = schema_schema_version_url(@schema, @schema_version, format: :json)
      .history-version
        - if @schema_version.has_previous_version?
          =link_to t(:previous_version),
            schema_schema_version_path(@schema_version.schema, @schema_version.previous_version)
        -else
          =t(:previous_version)
          %a
        - if @schema_version.has_next_version?
          =link_to t(:next_version),
            schema_schema_version_path(@schema_version.schema, @schema_version.next_version)
        -else
          =t(:next_version)
          %a
        %a.historic{href: schema_schema_versions_path}=t(:history)
      %h2=t(:specification)
      .field
      = schema_markup(@schema_version)

    .col-md-3.container-schema-action.no-gutter
      %a.btn.btn-action-red.btn-lg{:href => schema_schema_version_url(@schema, @schema_version, format: :json), :role => "button", :target => '_blank'}=t(:show_oas)
      - if user_signed_in? && current_user.can_create_schemas
        %a.btn.btn-action-blue.btn-lg{:href => new_schema_schema_version_path(@schema)}
          =t(:new_version)
      %br
      %h3=t(:example)
      .box-code-example
        %pre
          - if @schema_version.example.present?
            %code.json
              = preserve(JSON.pretty_generate @schema_version.example)
          - else
            =t(:no_example)
