%tr{"data-link" => organization_agreement_agreement_revision_path(@organization, consumed_table_row, consumed_table_row.last_revision ) }
  %td= consumed_table_row.service_consumer_organization.name
  %td
    %ul
      - consumed_table_row.agreement_revisions.last.services.each do |service|
        %li= service.name
  %td= consumed_table_row.agreement_revisions.last.purpose
  %td= consumed_table_row.agreement_revisions.last.updated_at.strftime("%d/%m/%Y")
  %td
    %span.btn-status.blue
      = consumed_table_row.agreement_revisions.last.state
