%tr{"data-link" => organization_agreement_agreement_revision_path(@organization, consumed_table_row, consumed_table_row.last_revision ) }
  %td= consumed_table_row.service_provider_organization.name
  %td
    %ul
      - consumed_table_row.services.each do |service|
        %li= service.name
  %td= consumed_table_row.last_revision.purpose
  %td= consumed_table_row.last_revision.updated_at.strftime("%d/%m/%Y")
  %td
    %span{class: css_class_for_agreement_status(consumed_table_row.state)}
      = t(consumed_table_row.state)
