%tr{"data-link" => organization_agreement_agreement_revision_path(@organization, provided_table_row, provided_table_row.last_revision ) }
  %td= provided_table_row.service_consumer_organization.name
  %td
    %ul
      - provided_table_row.services.each do |service|
        %li= service.name
  %td= provided_table_row.agreement_revisions.last.purpose
  %td= provided_table_row.agreement_revisions.last.updated_at.strftime("%d/%m/%Y")
  %td
    %span.btn-status.blue
      = provided_table_row.agreement_revisions.last.state
