- if !user_signed_in?
  %a#btn-login.btn.btn-action-blue.gradient{href: user_clave_unica_omniauth_authorize_path}
    = image_tag "clave-unica.svg", size: "28"
    Clave<span>única</span>
- else
  .notifications-box{:class => "#{'with-notifications' if current_user.unseen_notifications? }" }
    =link_to user_notifications_path(current_user), :title => t(:shownotifications) do
      %i.material-icons
        notifications
      %span= current_user.unread_notifications

  .btn-group#user-menu
    %button.btn.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
      %span.name
        = current_user.name
      %span.caret
    %ul.dropdown-menu.pull-right
      - current_user.organizations.distinct.each do |org|
        %li.institution
          %small
            =t(:institution)
          = org.name
        %li
          = link_to t(:services), organization_services_path(org), id: "services"
        %li
          = link_to t(:agreements), agreements_path, id: "agreements"
      -if current_user.can_create_schemas
        %li.new-schema
          = link_to new_schema_path, id: "menu-new-schema" do
            %i.material-icons
              add
            %span= t(:new_schema)
      -if current_user.is_service_admin?
        %li.pending-services
          =link_to pending_approval_services_path, id: "menu-pending-approval" do
            %i.material-icons
              check
            %span= t(:services_pending_approval)
      %li.logout
        =link_to destroy_user_session_path, method: :delete, id: 'btn-logout' do
          %i.material-icons
            exit_to_app
          %span= t(:logout)
