- if !user_signed_in?
  %a#btn-login.btn.btn-action-blue.gradient{href: user_clave_unica_omniauth_authorize_path}
    = image_tag "clave-unica.svg", size: "28"
    Clave<span>única</span>
- else
  .btn-group#user-menu
    %button.btn.btn-action-blue.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
      %span.name
        = current_user.name
      %span.caret
      %a.btn.btn-tiny-rounded.default.full
        99+
    %ul.dropdown-menu.pull-right
      - current_user.organizations.each do |org|
        %li.institution
          %small
            =t(:institution)
          = org.name
        %li
          = link_to t(:services), organization_services_path(org)
        %li
          = link_to new_organization_service_path(org), id: "menu-new-service" do
            %i.glyphicon.glyphicon-plus
            =t(:new_service)
        %li
          %a{:href => "#"}
            =t(:agreements)
      -if current_user.can_create_schemas
        %li.new-schema
          = link_to new_schema_path, id: "menu-new-schema" do
            %i.glyphicon.glyphicon-plus
            =t(:new_schema)
      %li
        %a{:href => "#"}
          =t(:notifications)
      %li.logout
        =link_to destroy_user_session_path, method: :delete, id: 'btn-logout' do
          %i.glyphicon.glyphicon-log-out
          =t(:logout)
