!!!
%html{:lang => "es"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title App
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{:class => controller.controller_path + '_' + controller.action_name}
    %header
      .container
        .header-container.clearfix
          .logo
            = link_to "/schemas" do
              = image_tag "logo.svg"
          %nav
            %ul.nav.nav-pills
              %li{:role => "presentation"}
                =active_link_to 'Servicios', '/services', :active => :inclusive
              %li{:role => "presentation"}
                =active_link_to 'Esquemas', '/schemas', :active => :inclusive
              %li{:role => "presentation"}
                %a{:href => "#"} Convenios

          - if user_signed_in?
            .btn-group#user-menu
              %button.btn.btn-action-blue.round.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                %span.name
                  = current_user.name
                %span.caret
                %a.btn.btn-tiny-rounded.default.full
                  99+
              %ul.dropdown-menu.pull-right
                %li.institution
                  %small
                    Institución
                  = current_user.organizations.take.name
                %li
                  %a{:href => "#"}
                    Servicios
                %li
                  %a{:href => "#"}
                    Convenios
                %li
                  %a{:href => "#"}
                    Notificaciones
                -if current_user.can_create_schemas
                  %li.new-schema
                    = link_to new_schema_path do
                      %i.glyphicon.glyphicon-plus
                      Nuevo Esquema
                %li.logout
                  =link_to destroy_user_session_path, method: :delete, id: 'btn-logout' do
                    %i.glyphicon.glyphicon-log-out
                    Logout
          - else
            %a#btn-login.btn.btn-action-blue.round.gradient{href: user_clave_unica_omniauth_authorize_path}
              = image_tag "clave-unica.svg", size: "28"
              Clave<span>única</span>

    .container-fluid.main-container
      - flash.each do |name, msg|
        - if msg.is_a?(String)
          = content_tag :div, msg, :class => "flash_#{name}"
      = yield
    %footer.no-gutter
      .container-fluid.footer-container
        .row
          .col-md-6{:class => "col-xs-6 footer-col blue text-left"}
          .col-md-6{:class => "col-xs-6 footer-col red text-right"}
          .clearfix
          .container
            .col-md-6.footer-col
              .box-logo-footer
                %p
                  Gobierno de Chile
                =image_tag "gobcl-brand.svg", :class => "img-responsive"
            .col-md-6.footer-col
              %p.text-right
                Políticas de Privacidad | CC