.container
  .row
    .col-md-3
    .col-md-6
      %p#notice
      %h1 Schemas
      %table
        %thead
          %tr
            %th Nombre
            %th Categoria
            %th{:colspan => "3"}
        %tbody
          - @schemas.each do |schema|
            %tr
              %td= schema.name
              %td= SchemaCategory.find(schema.schema_category_id).name
              %td= link_to 'Editar', edit_schema_path(schema)
              %td= link_to 'Versiones', schema_schema_versions_path(schema)
      %br
        = link_to 'Nuevo Schema', new_schema_path
    .col-md-3