.box-search-schemas
  .container
    .col-md-12{:class => "text-center"}
      %h1
        Directorio de Esquemas
      .form-group.col-md-6.container-form
        = form_tag(search_schemas_path, method: "get") do
          .inner-addon.left-addon
            %i.glyphicon.glyphicon-search
            %input#search-schema.form-control{:placeholder => "Ingresa nombre de Esquema", :type => "text", :name => "text_search"}/
.container
  .row
    .col-md-2.box-col-categories
      %h3
        Categorías
      %ul#categories-list
        - @categories.each do |category|
          %li
            %a(data-category="category-#{category.id}")
              = category.name
      %br
        = link_to 'Nuevo Schema', new_schema_path
    .col-md-10.schema-wrapper
      .schema-box-container
        - @schemas.each do |schema|
          .box-schema(data-categories="category-#{schema.schema_category.id}")
            .title
              %a{href: "#"}
                = truncate(schema.name, :length => 56)
            .body
              %span 
                Descripción: 
              = truncate(schema.description, :length => 183)