.instance-panel
  .container
    .col-md-12{:class => "text-center"}
      %h1= t(:schema_directory)
      .form-group.col-md-8.container-form
        = form_tag(search_schemas_path, method: "get") do
          .inner-addon.left-addon
            %i.glyphicon.glyphicon-search
            %input#search-schema.form-control{:placeholder => t(:enter_schema_name), :type => "text", :name => "text_search"}/
.container
  .row
    .col-md-2
      %h3.col-title=SchemaCategory.model_name.human(count: 2)
      %ul#categories-list.list-categories
        - @categories.with_schemas.each do |category|
          %li
            %a{data: {category: category.id}}
              = category.name

    .col-md-10.schema-wrapper
      .schema-box-container
        - @schemas.each do |schema|
          .box-schema.filtered{data: {categories:schema.schema_category_ids.join(' ')}}
            .title
              = link_to [schema, schema.last_version] do
                = truncate(schema.name, :length => 50)
            .body
              %span
                #{t(:description)}:
              = truncate(schema.description, :length => 183)
