%h1 New Schema
= form_for(@schema) do |f|
  - if @schema.errors.any?
    #error_explanation
      %h2
        = pluralize(@schema.errors.count, "error")
        prohibited this schema from being saved:
      %ul
        - @schema.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :schema_category_id
    = f.collection_select(:schema_category_id, SchemaCategory.all, :id, :name)
  .field
    = f.label :spec_file
    = f.file_field :spec_file
  .actions
    = f.submit