.instance-panel
  .container
    .col-md-12{:class => "text-center"}
      %h1= t(:schema_directory)
      .form-group.col-md-6.container-form
        = form_tag(search_schemas_path, method: "get") do
          .inner-addon.left-addon
            %i.glyphicon.glyphicon-search
            %input#search-schema.form-control{:value => @text_search, :type => "text", :name => "text_search"}/
.container.no-gutter
  .row.no-gutter
    .col-md-12.schema-wrapper.text-left
      = content_tag(:p, t(:no_results_found),
        class:"text-center") if @schemas.empty?
      - @schemas.each do |schema|
        .box-schema(data-categories="category-#{schema.schema_category.id}")
          .title
            = link_to [schema, schema.last_version] do
              = truncate(schema.name, :length => 50)
          .body
            %span
              #{t(:description)}:
            = truncate(schema.description, :length => 183)
